<h2>Experiences &amp; Education</h2>
<div class="buttons">
	<button class="experiences">Experiences</button>
	<button class="education">Education</button>
</div>
<div id="experiences">
	<section>
		<div class="left">
			<div class="logo">
                <%= image_tag 'pr-logo.png', height: '110px', alt: 'PowerReviews Logo' %>
			</div>
			<div class="thumbnails">
				<%= image_tag 'calendar-thumbnail.png', id:'powerreviews-1' %>
			    <a href='http://powerreviews.com' target='_blank'><%= image_tag 'web-logo.png' %></a>	
			</div>
		</div>
		<div class="info">
			<ul>
				<h3>Implementation Engineer</h3>
				<li>Work directly with clients from project inception to completion, providing guidance on best practices as well as helping with technical troubleshooting as they implement the PowerReviews Software</li>
				<li>Balance feedback from the client and Sales &amp; Technology in order to contribute to continuous product and process improvements</li>
				<li>Manage the PowerReviews Demo Store on Shopify's eCommerce platform</li>
			</ul>
		</div>
	</section>
	<section>
		<div class="left">
			<div class="logo">
                <%= image_tag 'pr-logo.png', height: '110px', alt: 'PowerReviews Logo' %>
			</div>
			<div class="thumbnails">
                <%= image_tag 'calendar-thumbnail.png', id:'powerreviews-2' %>
			    <a href='http://powerreviews.com' target='_blank'><%= image_tag 'web-logo.png' %></a>	
			</div>
		</div>
		<div class="info">
			<ul>
				<h3>Technical Support Engineer</h3>
				<li>Utilized a Salesforce ticket queue to provide support to many popular mid-market clients in a timely manner</li>
				<li>Worked heavily with Product Feeds and Order Feeds in both CSV and XML formats while using SQL to extract and debug this data</li>
				<li>Talked to some clients on the phone as needed in order to provide faster and better support</li>
				<li>NPS score of 4.78/5 from 95 client responses with no score less than 4</li>
			</ul>
		</div>
	</section>
	<section>
		<div class="left">
			<div class="logo">
            <%= image_tag 'dbclogo.png', height: '40px', alt: 'Dev Bootcamp Logo' %>
			</div>
			<div class="thumbnails">
				<%= image_tag 'calendar-thumbnail.png', id:'dbc' %>
			    <a href='https://en.wikipedia.org/wiki/Dev_Bootcamp' target='_blank'><%= image_tag 'web-logo.png', id:'dbc-web' %></a>
			</div>
		</div>
		<div class="info">
			<ul>
				<h3>Student</h3>
				<li>19-week intensive coding bootcamp for full stack web development</li>
				<li>Ruby. Ruby on Rails. Javascript. SQL. Active Record. Sinatra. jQuery. AJAX.</li>
			</ul>
		</div>
	</section>
	<section>
		<div class="left">
			<div class="logo">
                <%= image_tag 'choppingblock.jpg', height: '125px', alt: 'Chopping Block Logo' %>
			</div>
			<div class="thumbnails">
                <%= image_tag 'calendar-thumbnail.png', id:'choppingblock' %>
			    <a href='http://www.thechoppingblock.com/' target='_blank'><%= image_tag 'web-logo.png' %></a>	
			</div>
		</div>
		<div class="info">
			<ul>
				<h3>Class Assistant</h3>
				<li>Prepared appetizers for guests and served alcohol to patrons during classes and parties</li>
				<li>Instructed patrons on cooking skills during parties while leading a recipe(s) station</li>
				<li>Assissted leading cooking bootcamps for kids and adults alike</li>
			</ul>
		</div>
	</section>
	<section>
		<div class="left">
			<div class="logo">
                <%= image_tag 'creativecircus.png', height: '125px', alt: 'Creative Circus Logo' %>
			</div>
			<div class="thumbnails">
                <%= image_tag 'calendar-thumbnail.png', id:'circus' %>
			    <a href='https://creativecircus.edu/' target='_blank'><%= image_tag 'web-logo.png' %></a>	
			</div>
		</div>
		<div class="info">
			<ul>
				<h3>Student</h3>
				<li>Eight week intensive creative advertising bootcamp in Atlanta, GA at one of the best portfolio schools in the country.</li>
				<li>Creative Teams. Art Direction. Adobe Suite. Creative Strategy.</li>
				<li>Type. Photo. Video. Board Game Challenge. Portfolio Week.</li>
			</ul>
		</div>
	</section>
	<section>
		<div class="left">
			<div class="logo">
                <%= image_tag 'pdhp-logo.png', height: '125px', alt: 'PDHP Logo' %>
			</div>
			<div class="thumbnails">
                <%= image_tag 'calendar-thumbnail.png', id:'pdhp' %>
			    <a href='http://www.pdhp.org/camps/' target='_blank'><%= image_tag 'web-logo.png' %></a>	
			</div>
		</div>
		<div class="info">
		<ul>
			<h3>Camp Counselor</h3>
			<li>Assisted in leading a summer overnight adventure camp with 13 middle school-aged kids</li>
			<li>Drove 15-passenger van (“Mini Bus”) to various camping sites in Midwest each week</li>
			<li>Led many outdoor recreational activities, such as hiking and kayaking</li>
		</ul>
		</div>
	</section>
	<section id="bottom">
		<p>Check out some of the older places I've worked at too!</p>
		<ul>
			<li>Camp Counselor &amp; Lifeguard at my local JCYS</li>
			<li>Operated a Bungee Jump amusement ride in Bloomington's Eastland Mall</li>
			<li>Intramural referee at The University of Iowa</li>
			<li>Window washing</li>
			<li>Delivery Driver for a few different places</li>
			<li>Line cook at Chipotle and One Twenty Six Restaurant</li>
		</ul>
	</section>
</div>

<div id="education" style="display: none;">
	<h2>Education</h2>
		<section>
            <%= image_tag 'iowa.gif', height: '60px', alt: 'Iowa Logo' %>
			<h3>University of Iowa</h3>
			<p>BA Health and Human Physiology, 2015</p>
			<p>Course highlights include...</p>
			<p><em>Applied Sport and Exercise Psychology, Physiology of Nutrition, Biomechanics of Human Motion</em></p>
		</section>
		<section>
            <%= image_tag 'iwu-logo.png', height: '60px', alt: 'IWU Logo' %>
			<h3>Illinois Wesleyan University</h3>
			<p>Attended freshman year</p>
			<p>Course highlights include...</p>
			<p><em>World War II in the Pacific and Entrepreneurship</em></p>
		</section>
</div>
