<h4><%= @product.name %></h4>
<div class="" id="pr-reviewsnippet"></div>
<div class="" id="pr-reviewdisplay"></div>

<script>
   POWERREVIEWS.display.render({
     api_key: "15ecdb55-59bd-44c4-a0ed-edfeec50855a",
     locale: "en_US",
     merchant_group_id: "78271",
     merchant_id: "107652",
     page_id: "<%= @product.page_id %>",
     // review_wrapper_url: "http://localhost:3000/review/?id=<%= @product.id %>&pr_page_id=<%= @product.page_id %>",
     // review_wrapper_url: "https://nicholasblock.com/review/?id=<%= @product.id %>&pr_page_id=<%= @product.page_id %>",
     review_wrapper_url: "http://nicholasblock.com/review?id=<%= @product.id %>",
     product: {
       name: "<%= @product.name %>",
       url: "http://nicholasblock.com/products.html",
       image_url: "<%= @product.image_url %>",
       description: "Placeholder",
       category_name: "<%= @product.category %> ",
       manufacturer_id: "",
       upc: "",
       brand_name: "",
       price: "0.01",
       in_stock: "1"
           },
     components: {
       ReviewSnippet: "pr-reviewsnippet",
       ReviewDisplay: "pr-reviewdisplay"
             }
           });
 </script>
