<!DOCTYPE html>
<html>
  <head>
    <title>Nicholas Block</title>
    <meta name="google-site-verification" content="0Yu0f-tH5aLvGB2jdl6GiP1E3PSbM6lc3HYWafHW6GU" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script src='//ui.powerreviews.com/stable/4.0/ui.js'></script>
    <header>
      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Brands", brands_path %></li>
          <li>Reviews</li>
          <li><%= link_to "Products", products_path %></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="links">
        <ul>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </div>
      <div class="social icons">
        <a target="_blank" href="http://www.nicholasblock.com/resume.html"><%= image_tag("resume.png") %></a>
  			<a target="_blank" href="https://www.linkedin.com/in/nicholasblock78"><%= image_tag("linkedin-logo.png") %></a>
  			<a target="_blank" href="https://github.com/nicholasblock78"><%= image_tag("github-logo.png") %></a>
        <a target="_blank" href="https://facebook.com/nick.block.94"><%= image_tag("facebook.png") %></a>
      </div>
    </footer>
  </body>
</html>
